In [7]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv('locations.csv')

In [9]:
df['lat_rads'] = df['latitude'].apply(lambda x: x*(math.pi)/180)
df['long_rads'] = df['longitude'].apply(lambda x: x*(math.pi)/180)
df['timestamp'] = pd.to_datetime(df.timestamp)

In [10]:
def haversine(lat1, lon1, lat2, lon2, to_radians=False, earth_radius=6367):
    """
    slightly modified version: of http://stackoverflow.com/a/29546836/2901002

    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees or in radians)

    All (lat, lon) coordinates must have numeric dtypes and be of equal length.

    """
    if to_radians:
        lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return earth_radius * 2 * np.arcsin(np.sqrt(a))

In [11]:
#NaNrow = ['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']

In [12]:
df['dist'] = \
    haversine(df['lat_rads'].shift(), df['long_rads'].shift(),
                 df.loc[1:, 'lat_rads'], df.loc[1:, 'long_rads'])

In [13]:
df.head()

,event_id,animal_id,study_site,season,timestamp,longitude,latitude,lat_rads,long_rads,dist
0,2259197332,GR_C01,Graham,Winter,2001-02-21 05:00:00+00:00,-122.520049,56.239496,0.981564,-2.138378,NaN
1,2259197333,GR_C01,Graham,Winter,2001-02-21 09:00:00+00:00,-122.522416,56.239847,0.981571,-2.138420,0.151296
2,2259197334,GR_C01,Graham,Winter,2001-02-21 13:00:00+00:00,-122.523173,56.240003,0.981573,-2.138433,0.049809
3,2259197335,GR_C01,Graham,Winter,2001-02-21 17:01:00+00:00,-122.532758,56.231872,0.981431,-2.138600,1.080197
4,2259197336,GR_C01,Graham,Winter,2001-02-21 21:00:00+00:00,-122.531361,56.234023,0.981469,-2.138576,0.254140

In [ ]:
#Can't work out how to stop the overlap between animal distance data...
#Tried inserting an empty NaN row after each animal but didn't work.
#Will try again later. Perhaps make a Caribou class...